.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    transition: opacity 0.5s ease;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
  }
  
  #password-input {
    padding: 8px;
    font-size: 18px;
  }
  
  #error-message {
    color: red;
  }
  
  .hidden {
    display: none;

    opacity: 0;
    pointer-events: none;
  }

  #main-content{
    opacity: 1;
    pointer-events: none;
  }

  .show-contain{
    opacity: 1;
  }
  