#clock {
	font-size: 175px;
	width: 900px;
	margin: 200px;
	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
	padding: 5px;
}

/* styles.css */
.back-button-container {
	position: absolute;
	top: 10px;
	left: 10px;
}

.back-button {
	background-color: #ccc;
	color: black;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}

.back-button:hover {
	background-color: #666;
	color: #ccc;
}